<div class="trending-top mb-30">
  <div class="trend-top-img">
    <img src="assets/img/trending/trending_top.jpg" alt="" />
    <div class="trend-top-cap">
      <span>Appetizers</span>
      <h2>
        <a [routerLink]="['/news', 0]">
          Remember those neon-hued ropes we used to play with once
        </a>
      </h2>
    </div>
  </div>
</div>
<div class="trending-bottom">
  <div class="row">
    <div class="col-lg-4">
      <div class="single-bottom mb-35">
        <div class="trend-bottom-img mb-30">
          <img src="assets/img/trending/trending_bottom1.jpg" alt="" />
        </div>
        <div class="trend-bottom-cap">
          <span class="color1">Lifestyle</span>
          <h4>
            <a [routerLink]="['/news', 1]">Self-Awareness Development and Types</a>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="single-bottom mb-35">
        <div class="trend-bottom-img mb-30">
          <img src="assets/img/trending/trending_bottom2.jpg" alt="" />
        </div>
        <div class="trend-bottom-cap">
          <span class="color2">Sports</span>
          <h4>
              <a [routerLink]="['/news', 2]">Hyatt Regency and Hyatt House Manchester will add two new members</a>
            </h4>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="single-bottom mb-35">
        <div class="trend-bottom-img mb-30">
          <img src="assets/img/trending/trending_bottom3.jpg" alt="" />
        </div>
        <div class="trend-bottom-cap">
          <span class="color3">Travels</span>
          <h4>
            <a [routerLink]="['/news', 3]">Friends is an American television sitcom created by David</a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
