<div class="trand-right-single d-flex">
  <div class="trand-right-img">
    <img src="assets/img/trending/right1.jpg" alt="" />
  </div>
  <div class="trand-right-cap">
    <span class="color1">Concert</span>
    <h4>
      <a [routerLink]="['/news', 4]">Apple, Amazon, Facebook, Google, More US Tech Giants regulation</a>
    </h4>
  </div>
</div>
<div class="trand-right-single d-flex">
  <div class="trand-right-img">
    <img src="assets/img/trending/right2.jpg" alt="" />
  </div>
  <div class="trand-right-cap">
    <span class="color3">sea beach</span>
    <h4>
      <a [routerLink]="['/news', 5]">New NEET-PG Super Specialty Exam pattern From 2022</a>
    </h4>
  </div>
</div>
<div class="trand-right-single d-flex">
  <div class="trand-right-img">
    <img src="assets/img/trending/right3.jpg" alt="" />
  </div>
  <div class="trand-right-cap">
    <span class="color2">Bike Show</span>
    <h4>
      <a [routerLink]="['/news', 6]">RBI To Hold Key Rates In Monetary Policy Review</a>
    </h4>
  </div>
</div>
<div class="trand-right-single d-flex">
  <div class="trand-right-img">
    <img src="assets/img/trending/right4.jpg" alt="" />
  </div>
  <div class="trand-right-cap">
    <span class="color4">Play</span>
    <h4>
      <a [routerLink]="['/news', 7]">Bharti Airtel Conducts India's First 5G Trial</a>
    </h4>
  </div>
</div>
<div class="trand-right-single d-flex">
  <div class="trand-right-img">
    <img src="assets/img/trending/right5.jpg" alt="" />
  </div>
  <div class="trand-right-cap">
    <span class="color1">Skeping</span>
    <h4>
      <a [routerLink]="['/news', 8]">Samsung Electronics Likely to Ride Rising Chip Prices</a>
    </h4>
  </div>
</div>
